.create-album-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .img-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .add-img-button {
    margin-left: 10px;
  }
  
  .selected-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .selected-images img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
  }
  
  .create-album-button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .create-album-button:hover {
    background-color: #0056b3;
  }
  